.container {
    display: grid;
    
    /* Explicit assignment of columns and rows */
    grid-template-columns: 75px 75px;
    grid-template-rows: 75px 75px; 
    align-items: 
    /* short-hand property for defining rows and columns
    grid-template: 50px 50px / 50px 50px 50px; */

    /* grid-auto-rows defined the value for track that are implicit*/
    /* grid-auto-rows: 50px;
    column-gap: 10px;
    row-gap: 100px;
     */
  }

.container > div {
    border: 1px solid blue;
  }