.dropDown-content {
  display: none;
  /* position: absolute; */
}

/* .dropDown {
  float: left;
  overflow: hidden;
} */
nav {
  float: left;
}
nav:hover .dropDown-content{
  display: inline;
}
nav {
  display: flex;
  flex-direction: column;
}